:root {
  --gap_10: 10px;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  padding: 5px;
  border-radius: 5px;
}

textarea {
  padding: 5px;
  border-radius: 5px;
}

button {
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  text-wrap: nowrap;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 3px;
}
th,
td {
  border: 1px solid rgb(11, 0, 170);
  padding: 5px;
  text-align: left;
  text-wrap: nowrap;
}

pre {
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  line-height: inherit;
}

.border {
  border: 1px solid rgb(11, 0, 170);
}

.row_space_around {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap_10);
}

.row_space_between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.row_with_gap {
  display: flex;
  align-items: center;
  gap: var(--gap_10);
}

.row_with_wrap {
  display: flex;
  align-items: center;
  gap: var(--gap_10);
  flex-wrap: wrap;
}

.col_gap {
  display: flex;
  flex-direction: column;
  gap: var(--gap_10);
}

.col_no_gap {
  display: flex;
  flex-direction: column;
}

.center_flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center_margin {
  margin-left: auto;
  margin-right: auto;
}

.width_600 {
  width: 600px;
}

.width_700 {
  width: 700px;
}

/*  */
.modal_background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: var(--gap_10);
}

.modal_box {
  display: flex;
  flex-direction: column;
  gap: var(--gap_10);
  width: 600px;
  padding: 40px;
  border: 1px solid red;
  background-color: blue;
}

.modal_box_close_button {
  margin-left: auto;
}

.modal_box_ok_button {
  text-align: center;
}
